= render 'items/header-simple'
.single-container
  %main.single-main
    %section.purchase
      %section.purchase__banner
        %h2.purchase__banner__title
          発送をお待ちください
        %p.purchase__banner__detail
          出品者からの発送通知をお待ちください
      %h2.purchase__head
        購入が完了しました
      %section.purchase__content
        .purchase__content__inner
          %h3
            - @item.images.each do |image|
              = image_tag "#{image.image_url}", alt: "サンプル画像",class: "purchase__content__inner__image"
          %p.purchase__content__inner__name
            = @item.name
          %p.purchase__content__inner__form__item-price
            ="¥ #{@item.price}"
            %span.purchase__content__inner__form__item-price__shipping-fee
              送料込み
      %section.purchase__user-address
        .purchase__user-address__inner
          %h3
            配送先
          %address.purchase__user-address__inner__text
            .purchase__user-address__inner__text__postal-code
              〒333-3333
            .purchase__user-address__inner__text__address
              東京都未来区未来3-33-3
            .purchase__user-address__inner__text__name
              未来 太郎
      %section.purchase__pay-method
        .purchase__pay-method__inner
          %h3
            支払い方法
          .purchase__pay-method__inner__text
            .purchase__pay-method__inner__text__num
              = "************#{@card.last4}"
            .purchase__pay-method__inner__text__date
              = "#{@card.exp_month} / #{@last2_year}"
            .purchase__pay-method__inner__text__card
              -if @card.brand == "Visa"
                %figure
                  %img{src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3703742561", width: "49", height: "15", alt: "visa"}
              -else
                %figure
                  %img{src: "", width: "49", height: "15", alt: @card.brand}
      %section.purchase__description
        %h2.purchase__description__title
          発送通知後の流れ
        %p.purchase__description__detail
          商品を受け取ったら
          %br
          出品者の評価をしましょう。
          %br
          購入代金が出品者に振り込まれます。
          %br
          評価後に取引は完了です。
        = link_to "/users/#{@user.id}", class: "purchase__description__link" do
          %span
            マイページへ戻る
  = render 'footer-buy'
