= render 'items/header'
= render 'items/header-nav'
%main.card-box
  .card
    .card-content
      .card-content__top 支払い方法
      .card-content__main
        .card-content__main__single クレジットカード一覧
        -if @card
          %ul.card-content__main__settings
            %li
              %form.l-single-content{action: "/users/#{current_user.id}/cards/1", method: "POST"}
                -if @card.brand == "Visa"
                  %figure
                    %img{src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3703742561", width: "49", height: "15", alt: "visa"}
                -else
                  %figure
                    %img{src: "", width: "49", height: "15", alt: @card.brand}
                .card-content__main__settings__payment-num
                  = "************#{@card.last4}"
                .card-content__main__settings__payment-num
                  = "#{@card.exp_month} / #{@last2_year}"
                %input{type: "hidden", name: "_method", value: "DELETE"}
                %button.card-content__main__settings__payment-remove{type: "submit"}
                  削除する
        -else
          .card-content__main__second
            .l-single-content
              = link_to "/users/#{current_user.id}/cards/new", class: "btn-default" do
                %i.far.fa-credit-card
                クレジットカードを追加する
        .card-content__main__bottom
          = link_to "https://www.mercari.com/jp/help_center/category/6/", target: "blank", class: "btn-root" do
            %span 支払い方法について
            =fa_icon "angle-right"
  = render 'users/sidebar'
= render 'items/footer'
= render 'items/footer-sell-btn'
